:root {
    --medium-gap: 0.5rem;
    --small-gap: calc(var(--medium-gap) / 2);
    --very-small-gap: calc(var(--medium-gap) / 4);
    --large-gap: calc(var(--medium-gap) * 2);
    --very-large-gap: calc(var(--medium-gap) * 4);
    --theme-blue: #00a4eb;
    --theme-red: #eb0046;
    --primary-white: #fefefe;
    --secondary-white: #fdfdfd;
    --tertiary-white: #fcfcfc;
    --primary-black: #101010;
    --secondary-black: #303030;
    --tertiary-black: #505050;
    --edge-radius: 1rem;
}

@font-face {
    font-family: Rounded;
    src: url("/assets/fonts/rounded/MPLUSRounded1c-Regular.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--primary-white);
    font-family: Rounded;
}

ul {
    list-style-type: none;
}

input {
    cursor: pointer;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--very-large-gap);
    overflow: hidden;
    height: 100vh;
    background-color: var(--primary-black);
}

#panel {
    width: 90%;
    height: 70%;
    border-radius: var(--edge-radius);
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
}

#panel> * {
    border-radius: var(--edge-radius);
}

#list-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-black);
    padding: var(--large-gap);
    overflow: hidden;
}

#list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll !important;
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
    padding-right: var(--large-gap);
}

#list::-webkit-scrollbar {
    width: 5px;  /* Width of the entire scrollbar */
    overflow-x: unset;
    border-radius: var(--edge-radius);
}

/* Customize the scrollbar thumb */
#list::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-black); /* Color of the thumb */
    border-radius: var(--edge-radius);     /* Rounded corners of the thumb */
}

  /* Customize the scrollbar thumb on hover */
#list::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-blue); /* Color of the thumb on hover */
}

/* Customize the scrollbar track on hover */
#list::-webkit-scrollbar-track {
    background-color: var(--tertiary-white); /* Color of the track */
}

#list li {
    width: 100%;
    min-height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-black);
    border-radius: var(--edge-radius);
    padding: var(--large-gap);
}

#list li h2 {
    color: var(--theme-blue);
}

#list li div:nth-child(2) {
    display: flex;
    gap: var(--medium-gap);
    justify-content: space-between;
    align-items: center;
}

#list li div:nth-child(2) form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#list li div:nth-child(2) input[type="checkbox"] {
    aspect-ratio: 1;
    width: 30px;
}

#list li div:nth-child(2) input[type="button"] {
    padding: var(--medium-gap);
    border-radius: calc(var(--edge-radius) * 1.5);
    border: 1px solid var(--theme-red);
    color: var(--theme-red);
}

#list li div:nth-child(2) input[type="button"]:hover {
    background-color: var(--theme-red);
    color: var(--primary-white);
}

#list-input {
    padding: var(--large-gap);
    width: 100%;
    height: 20%;
    background-color: var(--secondary-black);
    display: grid;
    align-items: center;
    gap: var(--medium-gap);
    grid-template-columns: 35% 35% auto;
    overflow: hidden;
}

#list-input div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--small-gap);
}

#list-input div label {
    font-weight: bold;
}

#list-input input[type="text"] {
    border-radius: var(--edge-radius);
    outline: transparent;
    border: var(--theme-blue) solid 1px;
    padding: var(--small-gap);
    color: var(--primary-black);
    caret-color: var(--tertiary-black);
}

#list-input input[type="button"] {
    min-width: 60%;
    height: 55%;
    justify-self: flex-end;
    background-color: var(--theme-blue);
    padding: var(--medium-gap);
    border: none;
    border-radius: calc(var(--edge-radius) * 1.5);
    cursor: pointer;
}

@media (orientation: landscape) {
    #panel {
        width: 70%;
        height: 80%;
    }
    #list-wrapper {
        width: 100%;
        height: 80%;
    }
    #list-input {
        width: 100%;
        grid-template-columns: repeat(3, auto);
    }
}